@model ProductViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-2 col-xs-1">&nbsp;</div>
<div class="col-xs-10" style="position:relative;top:55px;">
    <a asp-area="" asp-controller="Brand" asp-action="Index">Back to brands</a>
    <h4>Products in Brands</h4>
    <ul class="list-group col-sm-8 col-xs-12">
        @{
            foreach (Product item in Model.Products)
            {
                <li class="list-group-item">
                    @item.Description
                </li>
            }
        }
    </ul>
</div>