@{
    ViewData["Title"] = "Home Page";
}
<div class="row text-center">

    <img width="440" height="380" src="~/images/home.jpg" />
    <h3 style="margin-top:10%;">

        @if (ViewBag.Message != null)
        {
            ViewBag.Message = ViewBag.Message.Replace("\"", "");
        }
        @ViewBag.Message
    </h3>
</div>

